.article {
    width: 100%;
}

.container {
    width: 50%;
    margin: 20px auto 100px;
}

.imageContainer {
    width: 100%;
    position: relative;
    width: 100%;
    z-index: -1;
    border-radius: 12px;
    overflow: hidden;
}


.articleDetails {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 11px;
    margin-bottom: 40px;
}

.h2 {
    color: var(--main-forColor);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
}

.by {
    color: rgba(255, 255, 255, 0.50);
}

.rae {
    color: var(--main-forColor);
}

.topics {
    display: flex;
    padding: 2px 0;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}

.topic {
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.minute {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
    color: var(--main-forColor);

}

.info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.infoContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.title {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.description {
    color: rgba(255, 255, 255, 0.70);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
}

@media (max-width:960px) {
    .container {
        width: calc(100% - 48px);
    }

    .h2 {
        font-size: 28px;
    }

    .minute {
        font-size: 16px;
    }
}

@media(max-width:767px) {
    .articleDetails {
        flex-wrap: wrap;
        gap: 16px;
    }

    .h2 {
        font-size: 22px;
    }

    .minute {
        font-size: 14px;
    }
}