.header {
    width: 100%;
    position: sticky;
    top: 0;
    border: 1px solid transparent;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91.8888%;
    margin: 2rem auto .25rem;

}

.links {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}

.layoutIcons {
    display: flex;
    align-items: center;
    gap: 20px;

}


/* Start Media Query  */
@media (max-width: 767px) {
    .links {
        display: none;
    }

    .layoutIcons {
        flex: 1;
        justify-content: flex-end;
    }

    .nav {
        gap: 10px;
    }
}