@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* All Color  */
  --main-bgColor: #14224D;
  --main-forColor: #fff;
  --link-forColor: #FFFFFF99;
  --link-hoverColor: #54CDA9;
  --footer-forColor: #FFFFFF4D;
  --footer-bgColor: #121E44;
  --paragraph-forColor: #FFFFFFCC;
  --card-bgColor: #FFFFFF;
  --cardDetails-forColor: #14224D;
  --borderColorTopic: rgba(20, 34, 77, 0.20);
  --colorTopic: rgba(20, 34, 77, 0.80);
  --by-color: rgba(20, 34, 77, 0.40);
  --seeAll-color: #3C69D6;
  --asideBg: #16285F;
  --asideCoverBg: rgba(12, 21, 50, 0.80);
  --baseColorSketelon: #3C486B;
  --highlightColorSketelon: #516191;
  /* All Size For BorderRadius  */
  --radiusCard: 0.5rem;
  --RadiusTopic: 6.25rem;
  /* Transition */
  --main-transition: .3s;
}

body {
  background-color: var(--main-bgColor);
  color: var(--main-forColor);
}

* {
  font-family: Poppins;
}

::selection {
  color: #e4e6e5;
  background-color: #c89c64;
}

/* WebKit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  box-shadow: inset -1px -1px 3.5px rgba(0, 0, 0, 0.766);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #14224d;
  border-radius: 5px;
}