@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* All Color  */
  --main-bgColor: #14224D;
  --main-forColor: #fff;
  --link-forColor: #FFFFFF99;
  --link-hoverColor: #54CDA9;
  --footer-forColor: #FFFFFF4D;
  --paragraph-forColor: #FFFFFFCC;
  --card-bgColor: #FFFFFF;
  --cardDetails-forColor: #14224D;
  --borderColorTopic: rgba(20, 34, 77, 0.20);
  --colorTopic: rgba(20, 34, 77, 0.80);
  --by-color: #rgba(20, 34, 77, 0.40);
  --seeAll-color: #3C69D6;
  --asideBg: #16285F;
  --asideCover-color: rgba(12, 21, 50, 0.80);
  /* All Size For BorderRadius  */
  --radiusCard: 0.5rem;
  --RadiusTopic: 6.25rem;
  /* Transition */
  --main-transition: .3s;
}

body {
  background-color: var(--main-bgColor);
  color: var(--main-forColor);
  font-family: 'Poppins', sans-serif;
  height: 1000rem;
}

header nav ul li:hover,
header nav ul li.active {
  color: var(--link-hoverColor)
}