/* Default styles */
.searchBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchIcon {
    display: flex;
    box-sizing: border-box;
    padding: 9px 10px 11px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.input {
    background-color: transparent;
    color: var(--link-forColor);
    border: none;
    border-bottom: 1px solid var(--link-forColor);
    font-size: 1rem;
    transition: .3s;
}

.input:focus {
    outline: none;
}

/* Media queries */
@media (max-width: 960px) {

    /* Tablet, landscape iPad, low-resolution laptops and desktops */
    .input {
        font-size: 0.8rem;
        width:75%
    }
}

@media (max-width: 767px) {

    /* Mobile devices */
    .searchIcon {
        border: none;
    }

    .input {
        font-size: 0.8rem;
        width: 73%;
    }

    .searchBox {
        flex: 1;
        justify-content: flex-end;
        padding: 0 5px;
    }
}

@media (max-width: 319px) {

    /* Smaller mobile devices */
    .searchIcon {
        border: 1px solid transparent;
    }

    .input {
        font-size: 0.7rem;
        width: 70%;
    }
}