.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--card-bgColor);
    width: 320px;
    border-radius: 8px;
}

.level {
    position: absolute;
    background-color: var(--main-forColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    left: 5px;
    top: 21px;
    left: 0;
    z-index: 100;

}

.bullet {
    width: 7.839px;
    height: 7.839px;
    border-radius: 50%;
    margin-left: 10px;

}

.levelWord {
    color: var(--cardDetails-forColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.imageContainer {
    position: relative;
    width: 310px;
    height: 174.375px;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px auto;
}

.description {
    text-wrap: balance;
    display: flex;
    width: calc(100% - 12px);
    height: 44px;
    text-overflow: ellipsis;
    overflow-y: auto;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    line-height: 1.8;
    color: var(--cardDetails-forColor);
    font-size: .9rem;
    font-weight: 500;
    text-transform: capitalize;
}



/* WebKit */
.description::-webkit-scrollbar {
    width: 6px;
}

.description::-webkit-scrollbar-track {
    background: #e5e5e5;
    box-shadow: inset -1px -1px 3.5px rgba(0, 0, 0, 0.766);
    border-radius: 10px;
}

.description::-webkit-scrollbar-thumb {
    background-color: #14224d;
    border-radius: 6px;
}

.topicBox {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 12px);
    align-items: center;
    gap: 10px;
    margin: 10px auto;

}

.topic {
    display: inline-flex;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--borderColorTopic);
    color: var(--colorTopic);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

}



.line {
    width: calc(100% - 12px);
    height: 1px;
    background: rgba(20, 34, 77, 0.10);
    margin: 0 auto;

}

.footerCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 6px 6px 6px;
    width: calc(100% - 12px);
    color: var(--by-color);
    font-size: 14px;
    font-weight: 400;
}

.rae {
    color: var(--colorTopic);
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 420px) {
    .card {
        width: 300px;
    }

    .imageContainer {

        width: 290px;

    }
}