/* ScrollWithRangeInput.module.css */
.container {
    position: sticky;
    top: 99px;
    width: 100%;
    margin: 30px auto;
    left: 0;
    padding: 8px 0;
    z-index: 1000;

}

@media(max-width:767px) {
    .container {
        top: 89px;
        width: 100%;
    }
}

.containProgress {
    width: 50%;
    margin: 0 auto;
    position: relative;
    border-radius: 100px;
    padding: 4px 0;
}

.rangeInput {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

}

.progress {
    width: 0%;
    height: 6px;
    background-image: linear-gradient(180deg, rgb(58, 96, 219) 0%, rgb(84, 209, 167) 100%);
    z-index: -1;
    position: absolute;
    left: 0%;
    top: 0;
    border-radius: inherit;
}






.rangeInput::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
}




.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* Centers thumb on the track */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: -8px;
    background-color: var(--main-bgColor);
    background: linear-gradient(var(--main-bgColor), var(--main-bgColor)) padding-box,
        linear-gradient(180deg, rgb(58, 96, 219) 0%, rgb(84, 209, 167) 100%) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
}

.rangeInput::-moz-range-progress {
    background-image: linear-gradient(180deg, rgb(58, 96, 219) 0%, rgb(84, 209, 167) 100%);
    height: inherit;
    ;
}