.articlesContainer {
    display: flex;
    margin: 3.75rem auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px 25px
}

.container {
    display: grid;
    width: 100%;
    justify-content: space-between;
    row-gap: 25px;
}

.h2 {
    color: var(--main-forColor);
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.56rem;
    text-align: left;

}


@media (min-width:376px) and (max-width:767px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container {
        grid-template-columns: repeat(1, auto);
        width: 100%;
    }

    .articlesContainer {
        width: 100%;

        padding-left: 20px;
    }
}



@media (max-width:375px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container {
        grid-template-columns: repeat(1, auto);

        width: 100%;
    }

    .articlesContainer {
        width: 340px;

        padding-left: 10px;
    }
}

@media (min-width:768px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container {
        grid-template-columns: repeat(2, auto);
    }

    .articlesContainer {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;

    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .container {
        grid-template-columns: repeat(3, auto);
    }

    .articlesContainer {
        width: 1025px;
    }


}

@media (min-width:1536px) {

    /* hi-res laptops and desktops */
    .container {
        grid-template-columns: repeat(4, auto);
    }

    .articlesContainer {
        width: 1536px;
    }


}