.articlesContainer {
    display: flex;
    margin: 3.75rem auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px 25px
}

.container {
    display: grid;
    gap: 25px 20px;
    width: 100%;
}

.h2 {
    color: var(--main-forColor);
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.56rem;
    text-align: left;
    margin-left: 25px;
}


@media (min-width:375px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container {
        grid-template-columns: repeat(1, auto);
    }

    .articlesContainer {
        width: 375px;
    }
}

@media (min-width:768px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container {
        grid-template-columns: repeat(2, auto);
    }

    .articlesContainer {
        width: 768px;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .container {
        grid-template-columns: repeat(3, auto);
    }

    .articlesContainer {
        width: 1025px;
    }

    .h2 {
        margin-left: 0;
    }
}

@media (min-width:1536px) {

    /* hi-res laptops and desktops */
    .container {
        grid-template-columns: repeat(4, auto);
    }

    .articlesContainer {
        width: 1536px;
    }

    .h2 {
        margin-left: 25px;
    }
}