.lightness {
    position: absolute;
    opacity: 1;
    filter: blur(200px);
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.imageContainer {
    position: relative;
}


@media (max-width: 767px) {
    .lightness {
        filter: blur(150px);
        top: -10%;
        left: 50%;
    }
}