.container {
    width: 100%;
    display: flex;
    justify-content: center;

}


.content {
    width: 50%;
    background-color: #46537c20;
    border-radius: 4px;
    margin: 20px auto
}

@media(max-width:960px) {
    .content {
        width: calc(100% - 48px);
    }
}

.image {

    display: flex;
    background-color: #3c486b
    ; border-radius: 5px;
}

.box {
    display: flex;
}

.title {

    position: relative;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
}